*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

body{
    background-color: #e7e7ee;
}

header{
    margin: 40px 0;
    display:flex;
    font-size: 20px;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 8px;
}

.container {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 660px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

input {
    padding: 8px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: #fff;
}

button {
    font-size: 20px;
    padding: 8px;
    border: none;
    background-color: #26b621;
    color: #fff;
    cursor: pointer;
}

table {
    font-size: 20px;
    width: 100%;
}

table th{
    border-bottom: 3px solid #000;
    padding: 16px;
}

table td{
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}